<?xml version="1.0" encoding="windows-1252"?>

<!--
    Document   : logback-test.xml
    Created on : January 10, 2010, 8:33 PM
    Author     : User
    Description:
        Purpose of the document follows.
-->

<configuration>
    <!-- Console logger -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
        </layout>
    </appender>
    <!-- Rolling file logger -->
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/smscampaigner.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- keep 30 days' worth of history -->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
    </appender>


    <logger name="com.alteregos">
        <level value="DEBUG" />
    </logger>
    <logger name="org.springframework">
        <level value="DEBUG" />
    </logger>

    <root level="OFF">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING_FILE" />
    </root>

</configuration>
