<?xml version="1.0" encoding="windows-1252"?>

<!--
    Document   : logback-test.xml
    Created on : January 10, 2010, 8:33 PM
    Author     : User
    Description:
        Purpose of the document follows.
-->

<configuration>
    <!-- Console logger -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
        </layout>
    </appender>
    <!-- Basic file logger -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
        </layout>
        <File>stripes-starter.log</File>
    </appender>
    <!-- Rolling file logger -->
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>stripes-starter.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <File>stripes-starter-rolling.log</File>
    </appender>



    <logger name="com.idolafori.starter">
        <level value="DEBUG" />
    </logger>

    <root>
        <level value="ERROR" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
